.coffeeInfo {
    padding: 50px;
    background-color: #ffffff;
  
    h2, h3 {
      font-size: 2rem;
      color: #1e3a8a;
    }
    
    h4 {
      font-size: 1.5rem;
      color: #1e3a8a;
    }
  
    ul {
      margin: 20px 0;
      padding-left: 20px;
  
      li {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
    }
  
    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
  