.header {
  margin-top: -25px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffffff;

  .header-title {
    font-family: cursive;
    color: #404142;
    margin-top: -50px !important;
    font-size: 20px;
    margin: 0;
  }
}  