.more-info {
    font-family: cursive;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    color: #404142;
  }
  
  .hours div {
    font-size: 20px; /* Similar text size */
    padding: 5px 0;
    // border-bottom: 1px solid #ddd;
  }
  
  .hours div:last-child {
    border-bottom: none;
  }

.mobile-more-info {
  @extend .more-info;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  