.renovation {
    padding: 50px;
    background-color: #eef5fc;
  
    h2 {
      font-size: 2.5rem;
      color: #1e3a8a;
    }
  
    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
  